/*General*/

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('fonts/Roboto/static/Roboto-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: 700;
}

:root {
  --odin-dark: rgb(16, 24, 40);
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--odin-dark);
  height: 100vh;
}

/*Header*/

.header {
  background-color: #2d4d88;
  padding: 3em 0;
  display: flex;
  white-space: nowrap;
  justify-content: center;
}

.header__container {
  display: flex;
  align-items: center;
  gap: 3em;
}

.header__nav {
  width: 100%;
}

.header__title {
  font-size: 2.25rem;
  color: white;
}

.search-form {
  display: flex;
  min-width: 500px;
  max-width: 600px;
}

.search-form label {
  color: white;
  width: 0px;
  overflow: hidden;
}

#header__searchbar {
  border: none;
  padding: 8px 20px;
  font-size: 1rem;
  background-color: rgb(233, 231, 231);
  min-width: 250px;
  width: 100%;
  outline: none;
}

#header__searchbar::placeholder {
  color: black;
}

.searchbar-submit-btn {
  border: none;
  margin-left: 10px;
  padding: 8px 16px;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  background-color: black;
  cursor: pointer;
}

/*Main*/

main {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
}

.wt-title {
  color: white;
  font-size: 2.5rem;
  margin-bottom: 1em;
}

.wt-container {
  width: 50%;
  height: 500px;
  background-color: rgb(245, 245, 245);
  color: rgb(255, 255, 255);
}

.wt__header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #2d4d88;
  height: 90px;
}

.location__heading {
  font-size: 1.75rem;
}

.location-name,
.location-time {
  text-decoration: underline;
  font-size: 2rem;
}

.wt__body {
  display: flex;
  justify-content: space-between;
  height: 396px;
  padding: 0.5em;
}

.wt__body__content {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 30%;
  background-color: #2d4d88;
}
